body {
	background-color: #f0f8ff;
	font-family: "Verdana", sans-serif;
}

h1 {
	text-align: center;
}
fieldset {
	background-color: #4169e1;
	color: whitesmoke;
	border: 2px double #f6eabe;
	border-radius: 15px;
}
legend {
	background-color: #4169e1;
	color: #f3e5ab;
	font-size: 20pt;
	text-align: center;
	box-sizing: border-box;
	box-shadow: 5px #191970;
	border: 2px double #f6eabe;
	padding: 0.2em;
}
input[type="submit"] {
	background-color: #f6eabe;
	font-size: 100%;
	font-weight: bold;
	text-align: center;
}
form {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
}
a {
	color: #191970;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
a:visited {
	color: #ff6347;
	font-size: 20pt;
}
a:hover {
	background-color: #fdfd96;
}



/* style for game board */
div.score {
	width: 30%;
	text-align: center;
	margin:auto;
	background-color: #4169e1;
	border: 5px dotted gold;
	border-radius: 12px;
	padding: 5px;
}
div.questionHeaders {
	overflow: hidden;
	width: 90%;
	text-align: center;
	margin: auto;
}
.questions {
	overflow: hidden;
	height: 20%;
	margin: auto;
	text-align: center;
	width: 90%;
}
.q {
	margin: auto;
	color: gold;
	float: left;
	text-align: center;
	width: 30%;
	height: 50px;
	border: 2px double black;
	vertical-align: middle;
	background-color: #4169e1;
}
.chooseQuestion {
	clear: both;
}

.qheader {
	width: 75%;
	margin: auto;
	padding: 1em;
	text-align: center;
	border: 2px double black;
}
.footer {
	padding: 5px;
}
.gameover {
	margin: auto;
	width: 75%;
}
h4 {
	padding: 1em;
	border: 3px solid black;
	text-align: center;
}
/* style for leaderboard */
.leaderboard {
	width: 50%;
	display: block;
	margin: auto;
	text-align: center;
	border: 5px dotted gold;
	border-radius: 12px;
	padding: 5px;
}
